.users {
    margin: 10px auto;
    display: flex;
    width: fit-content;
    gap: 10px;
    flex-direction: column;
}

.user-card {
    background: white;
    border-radius: 10px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, 50px);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
      0 2px 2px rgba(0,0,0,0.11), 
      0 4px 4px rgba(0,0,0,0.11), 
      0 6px 8px rgba(0,0,0,0.11),
      0 8px 16px rgba(0,0,0,0.11);
}

.user-card.admin-user {
    border: solid gold;
    position: relative;
}

.user-card.admin-user::after {
    content: "Admin";
    background-color: gold;
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 0 0 0 10px;
}

.user-card:hover {
    background-color: #D8D8D8;
}

.user-card > div {
    display: flex;
    height: 100%;
}

.user-card > div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}

.user-card > div:nth-child(1) > img {
    border-radius: 50%;
    margin: 10px 5px;
}

.user-card > div:nth-child(2) {
    padding-right: 10px;
    align-items: flex-end;
    grid-area: 1 / 2 / 2 / 3;
}

.user-card > div:nth-child(3) {
    padding-right: 10px;
    align-items: flex-start;
    grid-area: 2 / 2 / 3 / 3;
}