* {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    border-bottom: 1px solid white;
    background-color: hsl(357deg, 21%, 17%);
}

#title {
    white-space: nowrap;
    display: inline;
    line-height: 1.25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    border-bottom: none;
    cursor: auto;
}

#title:hover {
    background-color: unset;
}

body > header > * {
    display: inline-block;
    padding: 15px 10px 5px 10px;
    margin: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    user-select: none;
    line-height: 1.25rem;
    cursor: pointer;
    color: white;
    text-decoration: unset;
}

body > header > a:not(:first-child, :nth-child(2), :nth-child(3)) {
    margin-left: 0;
    position: relative;
    left: -2px;
}

body > header > a:hover {
    background-color: hsla(0, 0%, 100%, 0.15);
}

body > header > a.selected {
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
}

body > header > a.selected:hover {
    background-color: white;
}

body > header > #title-bar {
    display: none;
}

body > header > #admin-controls {
    background-color: hsl(14deg, 100%, 57%);
}

body > header > #sign-in {
    background-color: #43aa8b;
}

body > header > #sign-in::before {
    content: 'Sign in'
}

body > header > #sign-in.sign-out::before {
    content: 'Sign out'
}

body > header > :is(#admin-controls, #sign-in) {
    float: right;
    border-radius: 6px;
    padding: 5px;
    margin: 10px;
}

body > header > #sign-in.sign-out {
    background-color: hsl(0deg 100% 44%);
}

#sign-in:hover {
    background-color: hsl(162, 43%, 56%);
}

#admin-controls:hover {
    background-color: hsl(14deg, 100%, 65%);
}

body {
    min-width: max-content;
    margin: 0;
    background-color: #aa3333;
    background-image: url(../images/background.svg);
    background-attachment: fixed;
    background-size: cover;
}

.app {
    padding: 10px;
    margin-top: calc(1.25rem + 50px);
}

body .section {
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    animation: 0.4s fade-in;
}

body .form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

body .form.open {
    animation: 0s fade-in, 0.4s fade-in;
}

input[type="radio"]{
    display: none;
}

#event-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 10px;
    border: unset;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}

#event-toggle label {
    cursor: pointer;
    text-align: center;
    border: solid rgba(255, 255, 255, 0%) 7px;
    border-radius: 20px;
    padding: 13px 10px;
    background-color: rgba(255, 255, 255, .75);
}

#event-toggle label.selected-event {
    background-color: rgba(52, 34, 36);
    color: white;
}

body .section:not(.selected) {
    display: none;
}

body .table.selected {
    display: block;
    max-width: fit-content;
}

body .table.selected > div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#table-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 10px;
}

#expand-all, #collapse-all {
    color: white;
    border: 1px solid white;
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
    position: relative;
    background: #43aa8b;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

#expand-all:hover, #collapse-all:hover {
    background-color: hsl(162, 43%, 56%);
}

body .form > * {
    border: solid rgba(255, 255, 255, 0%) 7px;
    border-radius: 20px;
    padding: 13px 10px;
    background-color: rgba(255, 255, 255, .75);
    width: -webkit-fill-available;
}

body .form:not(.open) :is(.date-input, .time-input) {
    display: none;
}

body .section-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    text-shadow: 1.5px 1.5px #aa3333
}

#submit {
    background-color: rgb(52, 34, 36);
    color: white;
    cursor: pointer;
    user-select: none;
}

#submit:hover {
    background-color: black;
}

@media (max-width: 800px) {
    body .table.selected > div.content {
        gap: 10px;
    }

    body > header > a {
        display: block;
        padding: 15px;
        border-radius: 0;
        margin: 0;
        border-bottom: 1px solid rgb(255 255 255 / 30%)
    }

    #title-bar:hover {
        background-color: transparent;
    }

    body > header:not(.expand) > *:not(#title-bar, #title) {
        display: none;
    }

    body > header > #title-bar {
        margin: 0;
        border-radius: 0;
        cursor: auto;
        display: flex;
        align-items: center;
        position: relative;
        height: calc(1.25rem + 30px);
        padding: 0;
        border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
    }

    #hamburger-menu {
        margin-left: 10px;
        cursor: pointer;
        height: 100%;
        width: calc(1.25rem + 20px);
        display: inline-block;
        background-image: url(../images/menu_white_24dp.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    body > header > #sign-in {
        display: inline-block;
        float: none;
        padding: 10px;
        margin: 5px 15px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}