* {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
}

header > div {
    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    user-select: none;
    cursor: pointer;
    color: white;
}

header > div.selected {
    background-color: black;
}

body {
    min-width: max-content;
    margin: 0;
    padding: 0 10px;
    background-color: #000455;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000455' cx='50' cy='0' r='50'/%3E%3Cg fill='%230b065e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23160766' cx='50' cy='100' r='50'/%3E%3Cg fill='%2320096f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23290b78' cx='50' cy='200' r='50'/%3E%3Cg fill='%23320d80' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%233c0f89' cx='50' cy='300' r='50'/%3E%3Cg fill='%23451092' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e119a' cx='50' cy='400' r='50'/%3E%3Cg fill='%235812a3' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236213ac' cx='50' cy='500' r='50'/%3E%3Cg fill='%236c14b4' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237614bd' cx='50' cy='600' r='50'/%3E%3Cg fill='%238015c5' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%238b14ce' cx='50' cy='700' r='50'/%3E%3Cg fill='%239513d6' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a012df' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ab10e7' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b70cef' cx='50' cy='900' r='50'/%3E%3Cg fill='%23c207f7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ce00ff' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: round;
}

body > .form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: fit-content;
    margin: 20px auto;
    justify-content: center;
}

body > .table {
    display: none;
}

body.display-table > .form {
    display: none;
}

body.display-table > .table {
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px 10px;
}

body > .form > * {
    border: solid rgba(255, 255, 255, 0%) 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);
}

#submit {
    background-color: black;
    color: white;
    cursor: pointer;
    user-select: none;
}
