* {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
}

header > div {
    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    user-select: none;
    cursor: pointer;
    color: white;
}

header > div.selected {
    background-color: black;
}

body {
    min-width: max-content;
    margin: 0;
    padding: 0 10px;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

body > .form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: fit-content;
    margin: 20px auto;
    justify-content: center;
}

body > .table {
    display: none;
}

body.display-table > .form {
    display: none;
}

body.display-table > .table {
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    gap: 10px;
    background: rgba(255, 255, 255, .75);
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px 10px;
}

body > .form > * {
    border: solid rgba(255, 255, 255, 0%) 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .75);
}

#submit {
    background-color: black;
    color: white;
    cursor: pointer;
    user-select: none;
}
