@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

table {
    border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

td, td * {
  font-family: 'Oxygen Mono', monospace;
  font-size: 1rem;
}

td sup {
  font-size: .75rem;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:nth-child(odd){background-color: white;}

tr:hover {background-color: #ddd;}

th {
  position: sticky;
  top: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}
