@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

table {
    position: relative;
    border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

td, td * {
  font-family: 'Oxygen Mono', monospace;
  font-size: 1rem;
}

td sup {
  font-size: .75rem;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:nth-child(odd){background-color: white;}

tr:hover {background-color: #ddd;}

tr:first-of-type th {
  height: 40px;
  color: white;
  cursor: pointer;
  padding-right: 57px;
  padding-left: 57px;
}

tr:last-of-type th {
  background-color: #404040;
}

th {
  background-color: #43aa8b;
  color: white;
}

.toggle-expand {
  position: absolute;
  width: 57px;
  height: 57px;
  right: 0;
  background-image: url(../images/unfold_less_white_24dp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  cursor: pointer;
}

.table-expanded .toggle-expand {
  background-image: url(../images/unfold_less_white_24dp.svg);
}

.table-collapsed .toggle-expand {
  background-image: url(../images/unfold_more_white_24dp.svg);
}

.table-collapsed > tr:not(tr:first-of-type, tr:last-of-type) {
  display: none;
}

@media (max-width: 500px) {
  table {
    width: min-content;
    min-width: 100%;
  }

  .toggle-expand {
    width: 47px;
    height: 47px;
  }

  td, th {
    padding: 3px;
  }

  th {
    font-size: 1.1rem;
  }

  td, td * {
    font-size: .85rem;
  }

  td sup {
    font-size: .65rem;
  }
}